[Unit]
Description=Server Daemon
After=network.target

[Service]
ExecStart=/home/admin/.cargo/bin/ipp-proxy
Restart=always
User=root
Group=root

[Install]
WantedBy=multi-user.target